*,
*::after,
*::before{
    box-sizing: border-box;
}
:root{
    --main-color: hsl(60 80% 80%);
    --secondary-color: hsl(200 100% 50%);
    --accent-color: hsl(0 100% 50%);

    --basic-font-size: 16px;
    --max-text-lenght: 60ch;

    font-size: var(--basic-font-size);
    font-family: sans-serif;
    line-height: 1.3;
}
/* Externe Resourcen sollten die Groesse des parents begrenzen*/
img{
    max-width: 100%;
    width: 40em;
}

article{
    background: var(--main-color);
}

p{
    max-width: var(--max-text-lenght);
}

a,
code{
    background: var(--secondary-color);
    /* width greift nicht, weil inline Elemente*/
    width: 100%;
    padding: 1%;
    /* margin */
    margin: 2%;
}

/* Groessenberechnung von blockelementen*/
figure{
    width: 50%;
    padding: 5%;
    border: 5px solid;
    margin: 5%;
}

figure:first-of-type{
box-sizing: border-box;
}

figure:last-of-type{
    box-sizing: content-box;
}